:root{
    --color-fondo:          #1e1e20;
    --color-fondo-titulo:   #ffae4b;
    --color-titulo:         #854b2c;
    --color-bloque:         #8b4540;
    --color-texto:          #f1cb93;
}   

body{
    background: var(--color-fondo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.title{
    text-align: center;
    color: var(--color-titulo);
    margin: auto;
    max-width: 50%; 
    background: var(--color-fondo-titulo);
    border-radius: 1rem;   
    padding:2vh;    
}

.blanco{
    color: var(--color-texto);
    background: var(--color-bloque);
    font-size: larger;
    text-align: left;
    margin: 1.5rem;
    padding-inline: 5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.nueve {
    color: var(--color-texto);
    font-size: larger;
    text-align: left;
    margin: 1.5rem;
    padding-inline: 5rem;
    background: var(--color-bloque);
    padding: 1.5rem;
    border-radius: 1rem;
}

.sol{
    color: var(--color-texto);
    font-size: larger;
    text-align: left;
    margin: 1.5rem;
    padding-inline: 5rem;
    background: var(--color-bloque);
    padding: 1.5rem;
    border-radius: 1rem;
}